@font-face {
    font-family: "flaticon";
    src: url("./flaticon.ttf?adf5e8ca6b3c46c8c90c717b5fe1020b") format("truetype"), url("./flaticon.woff?adf5e8ca6b3c46c8c90c717b5fe1020b") format("woff"), url("./flaticon.woff2?adf5e8ca6b3c46c8c90c717b5fe1020b") format("woff2"), url("./flaticon.eot?adf5e8ca6b3c46c8c90c717b5fe1020b#iefix") format("embedded-opentype"), url("./flaticon.svg?adf5e8ca6b3c46c8c90c717b5fe1020b#flaticon") format("svg");
}

i[class^="flaticon-"]:before,
i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-pottery:before {
    content: "\f101";
}

.flaticon-elephant:before {
    content: "\f102";
}

.flaticon-mask:before {
    content: "\f103";
}

.flaticon-kora:before {
    content: "\f104";
}

.flaticon-spear:before {
    content: "\f105";
}

.flaticon-baobab:before {
    content: "\f106";
}

.flaticon-south-africa:before {
    content: "\f107";
}

.flaticon-female:before {
    content: "\f108";
}

.flaticon-africa:before {
    content: "\f109";
}

.flaticon-map-location:before {
    content: "\f10a";
}

.flaticon-giraffe:before {
    content: "\f10b";
}

.flaticon-city:before {
    content: "\f10c";
}

.flaticon-african-drum:before {
    content: "\f10d";
}

.flaticon-warrior:before {
    content: "\f10e";
}

.flaticon-shirt:before {
    content: "\f10f";
}

.flaticon-african:before {
    content: "\f110";
}

.flaticon-african-1:before {
    content: "\f111";
}

.flaticon-hut:before {
    content: "\f112";
}

.flaticon-tree:before {
    content: "\f113";
}

.flaticon-monument:before {
    content: "\f114";
}

.flaticon-house:before {
    content: "\f115";
}

.flaticon-african-drum-1:before {
    content: "\f116";
}

.flaticon-necklace:before {
    content: "\f117";
}

.flaticon-knife:before {
    content: "\f118";
}

.flaticon-african-2:before {
    content: "\f119";
}

.flaticon-pendant:before {
    content: "\f11a";
}

.flaticon-location:before {
    content: "\f11b";
}

.flaticon-call:before {
    content: "\f11c";
}

.flaticon-email:before {
    content: "\f11d";
}